# top-most EditorConfig file
root = true

# global preferences
[*]
indent_style = space
indent_size = 2

# Other preferences
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
